[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tqdm = "*"
jupyter = "*"
jupytext = "*"
scipy = "*"
numba = "*"

[dev-packages]
black = {extras = ["d"], version = "*"}

[requires]
python_version = "3.10"
